.post-page {
  .img-wrapper {
    padding-bottom: 66%;
    background-position: center;
    background-size: cover;

  }

  .react_lightgallery_item {
    //padding-bottom: 66%;
    //background-position: center;
    //background-size: cover;
  }
}
